.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 50px;
  padding-left: 20px;
  opacity: 90%;
  margin-bottom: 15px;
}

.header__title {
  font-size: 28px;
  font-weight: 600;
}
.header__icons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}



.header__icons-find {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
