.user-component {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.user-component__name {
  font-weight: 500;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.user-component__img--xl {
  width: 60px;
  height: 60px;
}

.user-component__img--sm {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}

.user-component__title--not-bold {
  font-weight: 400px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatphoto {
  border-radius: 18px;
  width: 45px;
  height: 45px;
}

.time {
  display: block;
  margin-bottom: 10px;
}
